.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  justify-self: center;
  border: none;
  border-radius: 0.7rem;
  font-size: 160%;
  transition: all 0.3s;
}

.details > * {
  background-color: #f0e6db;
  margin: 1em;
}

/* .details > *:nth-child(1) {
  flex: 0 0 30%;
}

.details > *:nth-child(2) {
  flex: 0 0 70%;
} */
