.hotelList {
  height: 100%;
  padding: 2em;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  max-height: 85%;
}

.hotelList::-webkit-scrollbar {
  width: 1em;
}

.hotelList::-webkit-scrollbar-thumb {
  background-color: var(--color-brown);
  border-radius: 1em;
}

.hotelList::-webkit-scrollbar-track {
  background: var(--color-orange);
  border: 0.5px solid var(--color-orange);
}
