.leftContainer {
  display: flex;
  gap: 0.5em;
  align-items: center;
  /* font-size: 140%; */
  flex-basis: 45%;
  justify-content: flex-start;
}

.rightContainer {
  display: flex;
  gap: 0.5em;
  align-items: center;

  flex-basis: 55%;
  justify-content: flex-end;
}

.hotelItem,
.hotelItem:link,
.hotelItem:visited {
  font-size: 160%;
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-2);
  border-radius: 7px;
  padding: 1em;
  border-left: 5px solid var(--color-dark-blue);
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.hotelItem--active {
  border: 2px solid var(--color-brown);
  border-left: 5px solid var(--color-brown);
}

.name {
  font-weight: 600;
  margin-right: auto;
}
