.user {
  position: absolute;
  top: 4rem;
  left: 40rem;
  background-color: var(--color-dark-blue);
  color: var(--color-light-1);
  padding: 1rem 1.4rem;
  border-radius: 1em;
  z-index: 999;
  box-shadow: 0 0.8rem 2.4rem rgba(36, 42, 46, 0.5);
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.onHomePage {
  background-color: var(--color-light-blue);
  color: var(--color-font);
  text-align: center;
}

.user img {
  height: 4rem;
}

.profileButton {
  font-weight: 700;
  background-color: var(--color-orange);
  color: var(--color-dark-blue);
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
  text-decoration: none;
}

.logoutButton {
  background-color: var(--color-orange);
  color: var(--color-dark-blue);
}
