.commentList {
  background-color: #fff3e6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  overflow: hidden;
  height: calc(100% - 2em);
  padding: 1em;
  margin: 1em;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.commentsInner {
  height: calc(100% - 2em);
  padding: 1em;
  margin: 1em;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.commentList::-webkit-scrollbar {
  width: 1em;
}

.commentList::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 1em;
  border: 3px solid #fff3e6;
}

.commentList::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 1em;
  border: 3px solid #fff3e6;
}
