.commentItem {
  background-color: var(--color-comment-light-2);
  display: flex;
  flex-direction: column;
  color: var(--color-brown);
  gap: 0.2em;
  border: none;
  border-radius: 0.5em;
  padding: 0.6em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 0.5em;
}

.commentItem:last-child {
  margin-bottom: 1em;
}

.userComments {
  background-color: var(--color-comment-light-1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.userComments .user {
  font-weight: bold;
}

.otherComments {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.commentItem .top {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  color: var(--color-font);
  padding: 0.1em 0.35em;
  border-radius: 0.5em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

.userComments .top {
  background-color: var(--color-comment-light-3);
}

.bottom {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  padding: 0.5em 0.5em 0 0.5em;
}

.user {
  margin-right: 1em;
}

.icons {
  display: flex;
  gap: 0.5em;
}

.trash,
.edit {
  margin-left: auto;
  color: var(--color-brown-1);
  margin-top: 0.3em;
}

.iconContainer {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.icon {
  font-size: 1em;
}

.tooltipText {
  visibility: hidden;
  width: 10em;
  background-color: white;
  color: black;
  border: 0.2px solid var(--color-comment-light-2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 6px;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  top: 125%;
  margin-left: -8em;
  opacity: 0;
  transition: opacity 0.3s;
}

.iconContainer:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
