.aboutPage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: var(--color-comment-light-2);
  padding: 4rem;
}

.aboutPage nav {
  width: 95%;
}

.container {
  position: relative;
  margin-top: 3em;
  align-self: center;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 80%;
  width: 40%;
  background: linear-gradient(
    45deg,
    var(--color-green) 0%,
    var(--color-orange) 100%
  );
  border-radius: 50%;
}

.smallShape1 {
  position: absolute;
  background-image: url("../banner2.JPG?v=1");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  top: -7%;
  left: -10%;
  border-radius: 50%;
  height: 40%;
  width: 40%;
  z-index: 4;
}

.smallShape2 {
  position: absolute;
  background: linear-gradient(
    135deg,
    rgba(0, 128, 0, 0.5),
    var(--color-light-blue)
  );
  overflow: hidden;
  top: 80%;
  left: 75%;
  border-radius: 50%;
  height: 20%;
  width: 20%;
  z-index: 7;
}

.text {
  position: relative;
  z-index: 8;
  padding: 2.5rem;
  text-align: center;
  color: var(--color-font);
  width: 60%;
}

.text h1 {
  font-size: 4em;
  margin-bottom: 1em;
}

.text p {
  color: var(--color-dark-blue);
  font-size: 2em;
  margin-bottom: 1em;
}

.happyTravels {
  font-weight: bold;
}

@media (max-width: 1955px) {
  .text h1 {
    font-size: 3em;
  }

  .text p {
    font-size: 1.8em;
  }

  .smallShape1 {
    height: 40%;
    width: 35%;
  }

  .smallShape2 {
    height: 15%;
    width: 15%;
  }

  .container {
    width: 40%;
  }
}

@media (max-width: 1803px) {
  .text h1 {
    font-size: 3em;
  }

  .text p {
    font-size: 1.7em;
  }

  .smallShape1 {
    height: 35%;
    width: 35%;
  }

  .smallShape2 {
    height: 15%;
    width: 15%;
  }

  .container {
    width: 40%;
  }
}
