.aboutPage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: var(--color-comment-light-2);
  padding: 4rem;
}

.aboutPage nav {
  width: 95%;
}

.container {
  position: relative;
  margin-top: 3em;
  align-self: center;
  align-items: center;
  display: flex;
  height: 70%;
  width: 100%;
  justify-content: center;
}

.smallShape1 {
  position: absolute;
  background-image: url("../public/banner2.JPG?v=1");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  top: 15%;
  left: 10%;
  border-radius: 50% 50% 40% 60% / 50% 40% 60% 50%;
  height: 300px;
  width: 450px;
  z-index: 6;
}

.smallShape2 {
  position: absolute;
  background: linear-gradient(
    135deg,
    rgba(0, 128, 0, 0.5),
    var(--color-light-blue)
  );
  overflow: hidden;
  top: 60%;
  left: 67%;
  border-radius: 60% 40% 40% 50% / 50% 40% 60% 50%;
  height: 170px;
  width: 170px;
  z-index: 7;
}

.mainShape {
  position: absolute;
  background: linear-gradient(
    45deg,
    var(--color-green) 0%,
    var(--color-orange) 100%
  );
  border-radius: 80% 90% 30% 80% / 90% 80% 100% 90%; /* Adjusted curvature to make the filled part bigger */
  height: 600px;
  width: 800px; /* Reduced width */
  z-index: 5;
}

.text {
  position: absolute;

  top: 15%;
  left: 12%;
  max-width: 80%;
}

.text h1 {
  color: var(--color-font);
  text-align: center;
  font-size: 4em;
  margin-bottom: 1em;
}

.text p {
  color: var(--color-dark-blue);
  font-size: 2em;
  margin-bottom: 1em;
}

.happyTravels {
  font-weight: bold;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--color-green) 0%,
      var(--color-orange) 100%
    );
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(
      45deg,
      var(--color-green) 0%,
      var(--color-orange) 100%
    );
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--color-green) 0%,
      var(--color-orange) 100%
    );
  }
}
