.appLayout {
  padding: 0rem 3rem;
}

.app {
  padding: 2.4rem;
  margin: 0 10rem;
  overscroll-behavior-y: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  color: var(--color-brown-1);
}

.container {
  height: calc(100vh - 35rem);
  display: flex;
  flex: 1;
  gap: 2em;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  border-radius: 0.9rem;
  overflow: scroll;
  position: relative;
}

.left::-webkit-scrollbar,
.left::-webkit-scrollbar,
.right::-webkit-scrollbar,
.right::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.left {
  background-color: var(--color-light-4);
}

.right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* flex-wrap: wrap; */
  gap: 1em;
}

.right > * {
  background-color: var(--color-light-4);
}
