.appLayout {
  height: 100%;
  width: 100%;
  padding: 0 4rem;
}

.app {
  margin: 2rem;
  overscroll-behavior-y: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  color: var(--color-font);
  position: relative;
}

.mapButton {
  position: absolute;
  top: 0;
  right: 5%;
  transform: translateY(-50%);
  z-index: 10;
  font-weight: bold;
  font-size: 170%;
  padding: 0.8em;
  border-radius: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.container {
  display: flex;
  max-height: 75vh;
  flex: 1;
  gap: 2em;
  overflow: hidden;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  border-radius: 0.9rem;
  overflow: auto;
  position: relative;
  height: 100%;
}

.left::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.left {
  background-color: var(--color-orange);
  flex-basis: 40%;
}

.right {
  flex-direction: column;
  gap: 1em;
  flex-basis: 60%;
}

.right > * {
  background-color: var(--color-orange);
}

.profileClose {
  padding: 4em;
}

.right::-webkit-scrollbar {
  width: 1em;
}

.right::-webkit-scrollbar-thumb {
  background-color: var(--color-brown);
  border-radius: 1em;
}

.right::-webkit-scrollbar-track {
  background: var(--color-orange);
  border: 1px solid var(--color-orange);
}