.appLayout {
  padding: 0rem 6rem;
}

.app {
  padding: 0 0 2em 0;
  overscroll-behavior-y: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  color: var(--color-brown-1);
}

.container {
  display: flex;
  max-height: 75vh;
  display: flex;
  flex: 1;
  gap: 2em;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  border-radius: 0.9rem;
  overflow: scroll;
  position: relative;
}

.left::-webkit-scrollbar,
.left::-webkit-scrollbar,
.right::-webkit-scrollbar,
.right::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.left {
  display: flex;
  background-color: var(--color-light-4);
  flex-basis: 40%;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-basis: 60%;
}

.right > * {
  background-color: var(--color-light-4);
}

.profileClose {
  padding: 4em;
}
