.homepage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("../banner2.JPG?v=1");
  background-size: cover;
  background-position: center;
}

.homepage nav {
  width: 95%;
}

.homepage section {
  margin: 2rem;
  margin-top: 5rem;
  padding: 2rem 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  text-align: center;
}

.homepage h1 {
  flex-basis: 100%;
  font-size: 7.5rem;
  line-height: 1.3;
  color: var(--color-light-2);
  margin-top: 5rem;
}

.homepage h2 {
  flex-basis: 100%;
  width: 90%;
  font-size: 2.5rem;
  color: var(--color-light-1);
  margin-bottom: 2.5rem;
}

.goToApp {
  flex-basis: 100%;
  margin-top: 1.5em;
}

.goToApp button {
  font-size: 2.5em;
}
