.mapPage {
  padding: 1rem 4rem 2rem 4rem;
  height: 100%;
  width: 100%;
}

.mapContainer {
  flex: 1;
  height: 70vh;
  margin: 3rem;
  background-color: var(--color-light-1);
  position: relative;
}

.buttonContainer {
  position: relative;
}

.mapButton {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-115%);
  color: var(--color-font);
  font-weight: bold;
  font-size: 170%;
  padding: 0.8em;
  border-radius: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.map {
  height: 100%;
  border-radius: 2em;
}

.seeDetails {
  text-decoration: none;
  flex-grow: 1;
}

.seeDetails p {
  color: var(--color-light-2);
}

:global(.leaflet-popup .leaflet-popup-content-wrapper) {
  background-color: var(--color-dark-blue);
  color: var(--color-light-1);
  border-radius: 5px;
}

:global(.leaflet-popup .leaflet-popup-content) {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

:global(.leaflet-popup .leaflet-popup-content span:first-child) {
  font-size: 2.5rem;
  line-height: 1;
}

:global(.leaflet-popup .leaflet-popup-content p) {
  margin: 0.5rem;
  padding: 0;
}

:global(.leaflet-popup .leaflet-popup-tip) {
  background-color: var(--color-font);
}

:global(.leaflet-popup-content-wrapper) {
  border-left: 5px solid var(--color-orange);
}
