.mapPage {
  padding: 1rem 4rem 2rem 4rem;
}
.mapContainer {
  flex: 1;
  height: 70vh;
  margin: 3rem;
  background-color: var(--color-light-1);
  position: relative;
}

.buttonContainer {
  position: relative;
}

.mapButton {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-110%);
  background-color: #f7c0c1;
  color: var(--color-brown-1);
  font-weight: bold;
  font-size: 170%;
  padding: 0.8em;
  border-radius: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.map {
  height: 100%;
}

:global(.leaflet-popup .leaflet-popup-content-wrapper) {
  background-color: var(--color-green-2);
  color: var(--color-light-2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

:global(.leaflet-popup .leaflet-popup-content) {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

:global(.leaflet-popup .leaflet-popup-content span:first-child) {
  font-size: 2.5rem;
  line-height: 1;
}

:global(.leaflet-popup .leaflet-popup-tip) {
  background-color: var(--color-brown-1);
}

:global(.leaflet-popup-content-wrapper) {
  border-left: 5px solid var(--color-orange-2);
}
