.hotelList {
  height: 100%;

  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.hotelList::-webkit-scrollbar {
  width: 0;
}
