.searchbar {
  flex-grow: 1;
  flex-basis: 100%;
}

.searchbar {
  justify-self: center;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 40rem;
  transition: all 0.3s;
  color: var(--color-light-1);
  background-color: var(--color-green-3);
}

.searchbar::placeholder {
  color: var(--color-green-2);
}

.searchbar:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  background-color: #d1f0bd;
}
