.btn {
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.primary {
  background-color: var(--color-light-1);
  color: var(--color-font);
}

.secondary {
  background-color: var(--color-light-blue);
  color: var(--color-font);
}

.tertiary {
  background-color: var(--color-orange);
  color: var(--color-dark-blue);
}

.quaternary {
  background-color: var(--color-green);
  color: var(--color-font);
  cursor: pointer;
}

.primary:focus,
.primary:hover,
.secondary:hover,
.secondary:focus,
.quaternary:hover,
.quaternary:focus {
  background-color: var(--color-dark-blue);
  color: var(--color-light-1);
}

.tertiary:hover,
.tertiary:focus {
  background-color: var(--color-green);
}

.back {
  font-weight: 600;
  background: none;
  border: 1px solid currentColor;
}

.position {
  font-weight: 700;
  position: absolute;
  z-index: 1000;
  font-size: 1.4rem;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-dark--1);
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}

.navigate {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}

.navigate:first-of-type {
  left: 10px;
}

.navigate:last-of-type {
  right: 10px;
}

.close {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--color-light-1);
  background-color: var(--color-brown-2);
}
