.message {
  text-align: center;
  font-size: 1.8rem;
  width: 80%;
  margin: 2rem auto;
  font-weight: 600;
}

.lightFont {
  color: var(--color-light-1);
}

.darkFont {
  color: var(--color-font);
}
