@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Podkova:wght@400..800&display=swap");

:root {
  --color-green-1: #21413f;
  --color-green-2: #414b3b;
  --color-green-3: #a7c396;
  --color-green-4: #407774;
  --color-green-5: #53c0bb;
  --color-orange-1: #ffb000;
  --color-orange-2: #ffd657;
  --color-orange-3: #e19721;
  --color-light-1: #fff9f3bb;
  --color-light-2: #eef2ed;
  --color-light-3: #fff9f3;
  --color-light-4: #f0e6db;
  --color-light-5: #dfe6e1;
  --color-brown-1: #4b3832;
  --color-brown-2: #4b4949;
  --color-brown-3: #2b3425;
  --color-brown-4: #d3b09e;
  --color-brown-5: #f8e8e1;
  --color-active-1: #f0c674;
  --color-active-2: #8faf75;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Happy Monkey";
}

body {
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-light-1);
  /* padding: 2.5rem 3rem; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Podkova";
}

label {
  font-size: 1.6rem;
  font-weight: 500;
}

input,
textarea {
  width: 90%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 2rem;
  text-align: center;
  border: 0.5px solid lightgray;
  border-radius: 1em;
  transition: all 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: none;
  background-color: #fff;
}

.cta:link,
.cta:visited {
  display: inline-block;
  background-color: var(--color-light--2);
  color: var(--color-green--1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}
