@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Podkova:wght@400..800&display=swap");
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

:root {
  --color-light-1: #ededee;
  --color-light-2: #fff9f3;
  --color-orange: #f0c14e;
  --color-light-blue: #a3b5c0;
  --color-dark-blue: #252847;
  --color-brown: #544501;
  --color-green: #a5c981;
  --color-active: #a08303;
  --color-font: #2b3425;
  --color-comment-light-1: #bfd5e3;
  --color-comment-light-2: #d7dfe3;
  --color-comment-light-3: #bacda6;
}

#root {
  width: 100%;
  min-width: 1200px;
  align-self: center;
  justify-self: center;
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Happy Monkey";
}

body {
  font-weight: 400;
  line-height: 1.3;
  background-color: var(--color-light-1);
  display: flex;
  margin: 0;
  justify-content: center;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Podkova";
}

label {
  font-size: 1.6rem;
  font-weight: 500;
}

input,
textarea {
  width: 90%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 2rem;
  text-align: center;
  border: 0.5px solid var(--color-active);
  border-radius: 1em;
  transition: all 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: none;
}

.cta {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}
